@media screen and (max-width: 1000px) {
	.Menu {
		box-sizing: border-box;
		padding: 0;
		width: 100%;
		height: 86vh;
		background-color: #3f3c3b;

		display: flex;
		flex-direction: column;
		justify-content: center;

		color: whitesmoke;
		text-align: center;

		// .burger-menu-wrap {
		// 	display: flex;
		// }

		ul {
			margin: auto;
			padding: 0 0 0 0;

			element.style {
				margin-left: 0px;
				/* set to 0 if your not using a list-style-type */
				padding-left: 20px;
			}

			p {
				margin: 10px;
			}
		}
	}

	.line {
		width: 100%;
		border: #e54b4b 1px solid;
		display: flex;
	}
}
