.Video {
	width: fit-content;

	box-shadow: -5px 6px 11px 0px rgba(0, 0, 0, 0.56);
	-webkit-box-shadow: -5px 6px 11px 0px rgba(0, 0, 0, 0.56);
	-moz-box-shadow: -5px 6px 11px 0px rgba(0, 0, 0, 0.56);
}
