.Video-section {
	box-sizing: content-box;
	text-align: center;

	h2 {
		font-size: 3.2rem;
		color: #f7ebe8;
	}

	p {
		font-size: 1.5rem;
		color: #f7ebe8;
	}

	a {
		font-size: 1.5rem;
		color: #e54b4b;
	}
}

.Video-col {
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Video-row {
	margin: 2rem 0;
	padding: 0;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
