.video-section {
	box-sizing: content-box;
	text-align: center;

	h2 {
		font-size: 3.2rem;
		color: #f7ebe8;
	}

	p {
		font-size: 1.5rem;
		color: #f7ebe8;
	}

	a {
		font-size: 1.5rem;
		color: #e54b4b;
	}
}

@media only screen and (max-width: 800px) {
	.Video-section {
		h2 {
			font-size: 2.5rem;
		}

		p {
			font-size: 1.2rem;
		}

		a {
			font-size: 1.2rem;
		}

		.breake-mobile {
			display: block;
		}
	}

	.Video-Col {
		display: flex;
		flex-direction: column;
	}
}
